@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --corner-smoothing: 0.25rem;
}

body {
    background: rgb(40, 40, 40);
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    display: grid;
    place-content: center;
}

.loading {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading > img {
    animation: spin-loop 1s linear infinite;
    height: fit-content;
    z-index: -100;
}

.letters-container {
    display: flex;
    flex-direction: column;
    opacity: 0;
    gap: 10vh;
    padding: 2.5rem;
    background: rgb(40, 40, 40);
    color: rgb(233, 233, 233);
    font-family: 'Libre Baskerville', serif;
    overflow-x: hidden;
    transition: all 200ms ease;
    animation: slide-in 1.5s 2.5s ease forwards;
}

.card {
    gap: 2.5rem;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

p {font-weight: 100;}

.video-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    background: transparent;
    box-shadow: inset 0 0 1rem black,
                0 .3rem 1rem rgb(0, 0, 0);
    border: 1px solid rgb(200, 200, 200);
    border-radius: var(--corner-smoothing);
    aspect-ratio: 16 / 9;
    overflow: hidden;
}

body:has(.video-container.video-fullscreen) {gap: 0; padding: 0; margin: 0;}

.video-container.video-fullscreen {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgb(30, 30, 30);
    border: none;
}

.video-fullscreen > video {
    height: 100%;
    object-fit: contain;
}

.video-container > .fullscreen {
    cursor: pointer;
    position: absolute;
    right: .5rem;
    bottom: .5rem;
    width: 3rem;
    height: 3rem;
    background: transparent;
    border: none;
    height: fit-content;
}

.video-container > video {max-width: 100%;}
.video-container > * {grid-area: 1 / 1;}
.mute {
    position: absolute;
    bottom: 0;
    margin: 1rem;
    font-size: 1rem; 
    padding: 1rem;
    background: rgba(255,255,255, 0.3);
    border: none;
    cursor: pointer;
    z-index: 100;
    color: white;
    font-family: 'Libre Baskerville', serif;
    width: fit-content;
    border-radius: var(--corner-smoothing);
}

.letter {
    min-height: 0%;
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
    background: rgba(0,0,0,0.2);
    border: 1px solid rgb(200, 200, 200);
    border-radius: var(--corner-smoothing);
    box-shadow: 0 .3rem 1rem rgb(0, 0, 0);
}

.letter > p.par {margin-block: 2.5rem;}

.letter > h2 {margin-top: 1.125rem;}

.send-off {margin-top: auto;}

@media (max-width: 1024px) {
    .card {grid-template-columns: auto;}
    .letters-container {flex-direction: column;}
    .video-container {width: 100%;}
}

@keyframes spin-loop {
    0% {transform: rotate(0deg)}
    100% {transform: rotate(360deg)};
}

@keyframes buffer {
    0% {opacity: 0;}
    80% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes slide-in {
    0% {transform: translateY(-100vh)}
    20% {opacity: 1;}
    100% {transform: translateY(0vh); opacity: 1;}
}
