@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --corner-smoothing: 0.25rem;
}

body {
    background: rgb(40, 40, 40);
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    display: grid;
    place-content: center;
}

.loading {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading > img {
    animation: spin-loop 1s linear infinite;
    height: fit-content;
    z-index: -100;
    max-width: 7.5vw;
}

.letters-container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    opacity: 0;
    gap: 10vh;
    overflow: auto;
    margin-bottom: 2rem;
    padding: 2.5rem;
    background: rgb(40, 40, 40);
    color: rgb(233, 233, 233);
    font-family: 'Libre Baskerville', serif;
    transition: all 200ms ease;
    animation: slide-in 1.5s 3.5s ease forwards;
}

.card {
    gap: 2.5rem;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

p {font-weight: 100;}

.video-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    background: transparent;
    box-shadow: inset 0 0 1rem black,
                0 .3rem 1rem rgba(0, 0, 0, 0.5);
    border: 1px solid rgb(200, 200, 200);
    border-radius: var(--corner-smoothing);
    aspect-ratio: 16 / 9;
    max-height: 100%;
    overflow: hidden;
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 7.5vw;
    aspect-ratio: 1;
    opacity: 0.7;
    background: transparent;
    border: none;
    cursor: pointer;
}

.play-image {
    max-width: 100%;
}

.video-container > .fullscreen {
    cursor: pointer;
    position: absolute;
    right: .5rem;
    bottom: .5rem;
    width: 3rem;
    height: 3rem;
    background: transparent;
    border: none;
    height: fit-content;
}

.video-container > video {max-width: 100%;}
.video-container > * {grid-area: 1 / 1;}
.mute {
    position: absolute;
    bottom: 0;
    margin: 1rem;
    font-size: 1rem; 
    padding: 1rem;
    background: rgba(255,255,255, 0.3);
    border: none;
    cursor: pointer;
    z-index: 100;
    color: white;
    font-family: 'Libre Baskerville', serif;
    width: fit-content;
    border-radius: var(--corner-smoothing);
}

.letter {
    min-height: 0%;
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
    background: rgba(0,0,0,0.2);
    border: 1px solid rgb(200, 200, 200);
    border-radius: var(--corner-smoothing);
    box-shadow: 0 .3rem 1rem rgba(0, 0, 0, 0.5);
}

.letter > p.par {margin-block: 2.5rem;}

.letter > h2 {margin-top: 1.125rem;}

.send-off {margin-top: auto;}

.video-container, .letter {
    background: radial-gradient(102.33% 102.33% at 27.88% 22.77%, #292929 0%, #1B1B1B 83.85%, #181818 100%);
    border: none;
}

@media (max-width: 1400px) {
    .card {grid-template-columns: auto;}
    .letters-container {flex-direction: column;}
    .video-container {width: 100%;}
}

@media (max-width: 600px) {
    .letters-container {padding: 1.125rem;}
    h1 {font-size: 1.5rem;}
    .play-button {width: 15vw}
    .mute {font-size: 1rem; padding: .5rem}
}

@keyframes spin-loop {
    0% {transform: rotate(0deg)}
    100% {transform: rotate(360deg)};
}

@keyframes buffer {
    0% {opacity: 0;}
    80% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes slide-in {
    0% {transform: translateY(-100vh)}
    20% {opacity: 1;}
    100% {transform: translateY(0vh); opacity: 1;}
}
